<p id="notice"><%= notice %></p>
<!-- www9.wixdns.net -->
<div class="image">
    <%= link_to image_tag('IMG_3230.JPG', style: 'opacity:0.6;position:relative;width:100%;'), home_index_path %>
    <h1 style="position: absolute; top:200px; left:30%; width:85%; ">lana's blog</h1>
</div>


<!--<div class="row" style="max-width:none;background-color:#3F3F3F;height:initial;">-->
<!--    <div class="large-12 columns">-->
<!--        <h1 class="text-center">lana's blog</h1>-->
<!--    </div>-->
<!--</div>-->

<br>
<div class="row">
    <div class="large-12 columns">
        <div class="panel callout radius">
            <h3 style="font-weight:bold;">Want to subscribe to Lana's posts?</h3>
            <p style="font-weight:bold;"><%= link_to "Click here to subscribe.", new_subscriber_path %></p>
        </div>
    </div>
</div>
<br>
<% @articles.each_with_index do |article, index| %>
    <div class="row" style="padding-left:8%;padding-right:8%;padding-bottom:1%;padding-top:1%;">
        <div class="large-12 columns">
            <p class="float:right;"><%= article.created_at.strftime("Posted %b %d, %Y (%l:%M%P)") %></p>
            <h2 style="margin-bottom:3%;margin-top:0;"><%= article.title %></h2>
            <%= raw(article.content) %>
            <% if user_signed_in? %>
                <ul class="button-group round" style="margin-top:10px;float:right;">
                  <li><%= link_to 'Show', article, :class => 'tiny button secondary' %></li>
                  <li><%= link_to 'Edit', edit_article_path(article), :class => 'tiny button secondary' %></li>
                  <li><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'tiny button secondary' %></li>
                </ul>
            <% end %>
            <% if @articles.length-1 != index %>
                <hr>
            <% end %>
        </div>
    </div>
<% end %>

<br>

<% if user_signed_in? %>
    <div class="row">
        <div class="large-12 columns">
            <div style="margin-left:6.5%;"><%= link_to 'New Article', new_article_path, :class => 'button radius secondary' %></div>
        </div>
    </div>
<% end %>

