
<!-- changed opacity, moved about paragraph to align with photograph (first and second paragraph)-->
<script src="/owl.carousel.min.js"></script>
<link rel="stylesheet" href="/owl.theme.default.min.css">
<!--home -->
<div class="image">
    <%= link_to image_tag('homepage.jpg', style: 'position:relative;width:100%;'), root_path %>
</div>

<div class="owl-carousel">
    <div class="item"><%= link_to image_tag('carousel1.jpg', style: 'height:160px;'), root_path %></div>
    <div class="item"><%= link_to image_tag('carousel2.jpg', style: 'height:160px;'), root_path %></div>
    <div class="item"><%= link_to image_tag('carousel3.jpg', style: 'height:160px;'), root_path %></div>
    <div class="item"><%= link_to image_tag('carousel4.jpg', style: 'height:160px;'), root_path %></div>
    <div class="item"><%= link_to image_tag('carousel5.jpg', style: 'height:160px;'), root_path %></div>
</div>
<script>
    $(document).ready(function(){
        $(".owl-carousel").owlCarousel({     
                loop:true,
                margin:10,
                nav:true,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:3
                    },
                    1000:{
                        items:5
                    }
                }
            }
        );
    });
</script>
<!--about me-->
<!--
<div class="row" style="max-width:none;height:initial;padding-top:7%;">
    <div class="large-12 columns">
        <a href="/pages/about_me">
            <h2 class="text-center" style="margin-bottom:2%;margin-top:0;">about me</h2>
        </a>
    </div>
</div>
<div style="padding-bottom:7%;">
    <div class="row">
        <div class="large-12 columns" style="padding-left:100px;padding-right:100px;">
            <!--<img src="https://instagramimages-a.akamaihd.net/profiles/profile_34173443_75sq_1376544496.jpg" alt="Temp Lana About" style="float:left; margin-right:30px;">-->
            <!--<!%= link_to image_tag('aboutme2.JPG', style: 'width:180px;float:left;margin-right:30px;'), home_index_path %>
            <p style="color:#3F3F3F;">
            It feels good to move.<br><br>Dedicated to fitness since I started dance class at 
            age 9…because it always made me feel good to move.  I like feeling strong.  I 
            like feeling powerful.  I like feeling good in my body. <br><br> Years later, I pursued
            running. I ran high school track and eventually twice ran the New York Marathon.  
            Running kept me strong and lean, and I loved my runner’s high.  I realized that with 
            being fit came a deeper feeling of wellness and balance that permeated my daily life.<br><br>  
            But I wanted more.  I added weight training 8 years ago to my workout regimen and 
            haven’t looked back.  I got my Personal Trainer Certification in 2014 and am so 
            excited to share my passion with you.  I want you to feel this way, too!</p>
            <p class="text-right"><a href="/pages/about_me">read more</a></p>
        </div>
    </div>
</div>
-->


<!--services-->
<!--<div class="row" style="max-width:none;height:initial;padding-top:7%;">-->
    
<a id="services"></a>
<div class="row" style="max-width:none;height:initial;">
    <div class="large-12 columns">
        <h2 class="text-center" style="margin-bottom:2%;font-size:3.5em;margin-top:2%;">services</h2>
    </div>
</div>



<div class="row" style="max-width:none;height:initial;margin:0;">
    <div class="large-6 columns" style="margin:0;padding:0;">
        <div class="image">
            <%= link_to image_tag('private_training.JPG', style: 'position:relative;width:100%;'), root_path %>
            <!--<h1 style="position: absolute; top:200px; left:15%; width:85%; ">welcome to lana rizika fitness</h1>-->
        </div>
    </div>
    <div class="large-6 columns" style="margin:0;padding:0;">
        <div class="panel" style="height:426px;padding-top:45px;padding-bottom:55px;padding-right:50px;padding-left:50px;display: inline-table;">
          <h3 class="text-center" style="font-size:40px;">private training</h3>
          <p style="margin:10px;font-size:27px;line-height:1.25;">1-on-1 coaching session created specifically for each client. Focus is on meeting 
          client’s fitness goals through proper training, technique and nutrition.</p>
        </div>
    </div>
</div>
<div class="row" style="max-width:none;height:initial;margin:0;">
    <div class="large-6 columns" style="margin:0;padding:0;">
        <div class="panel" style="display: inline-table;height:426px;padding-top:55px;padding-bottom:55px;padding-right:50px;padding-left:50px;">
          <h3 class="text-center" style="font-size:40px;">small group training</h3>
          <p style="margin:10px;font-size:27px;line-height:1.25;">Small groups of 2-5 people share in the pains and gains of training together – push 
          each other to bring your best to the mat.</p>
        </div>
    </div>
    <div class="large-6 columns" style="margin:0;padding:0;">
        <div class="image">
            <%= link_to image_tag('smallgroup.jpg', style: 'position:relative;width:100%;'), home_index_path %>
            <!--<h1 style="position: absolute; top:200px; left:15%; width:85%; ">welcome to lana rizika fitness</h1>-->
        </div>
    </div>
</div>
<div class="row" style="max-width:none;height:initial;margin:0;">
    <div class="large-6 columns" style="margin:0;padding:0;">
        <div class="image">
            <%= link_to image_tag('stretch.jpg', style: 'position:relative;width:100%;'), home_index_path %>
            <!--<h1 style="position: absolute; top:200px; left:15%; width:85%; ">welcome to lana rizika fitness</h1>-->
        </div>
    </div>
    <div class="large-6 columns" style="margin:0;padding:0;">
        <div class="panel" style="display: inline-table;height:426px;padding-top:55px;padding-bottom:55px;padding-right:50px;padding-left:50px;">
          <h3 class="text-center" style="font-size:40px;">stretch</h3>
          <p style="margin:10px;font-size:27px;line-height:1.25;">A 30- or 60-minute stretch session will help improve flexibility and mobility, relieve 
          tight muscles, and reduce aches and pains.</p>
        </div>
    </div>
</div>
<div class="row" style="max-width:none;height:initial;margin:0;">
    <div class="large-6 columns" style="margin:0;padding:0;">
        <div class="panel" style="display: inline-table;height:426px;padding-top:55px;padding-bottom:55px;padding-right:50px;padding-left:50px;">
          <h3 class="text-center" style="font-size:40px;">teens</h3>
          <p style="margin:10px;font-size:27px;line-height:1.25;">Strength training for teens to increase overall conditioning and ensure balanced muscle development.</p>
        </div>
    </div>
    <div class="large-6 columns" style="margin:0;padding:0;">
        <div class="image">
            <%= link_to image_tag('teen.jpg', style: 'position:relative;width:100%;'), home_index_path %>
            <!--<h1 style="position: absolute; top:200px; left:15%; width:85%; ">welcome to lana rizika fitness</h1>-->
        </div>
    </div>
</div>
<div class="row" style="max-width:none;height:initial;margin:0;">
    <div class="large-6 columns" style="margin:0;padding:0;">
        <div class="image">
            <%= link_to image_tag('nutrition.jpg', style: 'position:relative;width:100%;'), home_index_path %>
            <!--<h1 style="position: absolute; top:200px; left:15%; width:85%; ">welcome to lana rizika fitness</h1>-->
        </div>
    </div>
    <div class="large-6 columns" style="margin:0;padding:0;">
        <div class="panel" style="display: inline-table;height:426px;padding-top:55px;padding-bottom:55px;padding-right:50px;padding-left:50px;">
          <h3 class="text-center" style="font-size:35px;">nutrition guidance</h3>
          <p style="margin:10px;font-size:27px;line-height:1.25;">Work together to adjust meals and snacks and create food plans to improve eating habits, lose 
          weight, and feel great.</p>
        </div>
    </div>
</div>

<!--about me -->
<a id="about">
    <div class="row" style="max-width:none;height:initial;">
        <div class="large-12 columns">
            <h2 class="text-center" style="margin-bottom:2%;font-size:3.5em;margin-top:10%;">about</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns" style="margin:0;padding:0;">
            <div class="image thumbnail" style="margin-top:40px;">
                <%= link_to image_tag('aboutmefinal1p.jpg', style: 'position:relative;width:100%;'), home_index_path %>
                <!--<h1 style="position: absolute; top:200px; left:15%; width:85%; ">welcome to lana rizika fitness</h1>-->
            </div>
        </div>
        <div class="large-6 columns" style="padding-left:8%;padding-right:8%;padding-top:3%;margin-bottom:10px;">
            <p style="font-size:1.5em;line-height:30px;">
                Years of dance, running, and weight training have kept Lana feeling strong and fit. It was 
                after a brief setback in 2014 (she had a stress fracture in her hip) that she fully understood 
                how vital exercise was to her overall well-being. More importantly, she was inspired to teach 
                others how to make fitness an enjoyable part of life so they too can realize all its physical 
                and mental health benefits. Fitness, she believes, is a game changer.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns" style="padding-left:8%;padding-right:8%;padding-top:7%;margin-bottom:6%;">
            <p style="font-size:1.5em;line-height:30px;">
                Lana received her Personal Trainer Certification from NASM and continues her education through 
                classes, seminars, and various training programs. She weight trains several times a week, mixes 
                in cardio workouts, and dedicates time to her new passion, boxing!   
            </p>
        </div>
        <div class="large-6 columns" style="margin:0;padding:0;">
            <div class="image thumbnail">
                <%= link_to image_tag('aboutmefinal2p.jpg', style: 'position:relative;width:100%;'), home_index_path %>
                <!--<h1 style="position: absolute; top:200px; left:15%; width:85%; ">welcome to lana rizika fitness</h1>-->
            </div>
        </div>
    </div>
</a>

<div class="row">
    <div class="large-12 columns" style="padding-left:8%;padding-right:8%;padding-bottom:1%;">
        <h2 class="text-center" style="font-size:3.5em;margin-top:2%;">about lana rizka fitness</h2>
        <p style="font-size:1.5em;line-height:30px;"> 
            Lana Rizika Fitness focuses on providing an hour-long personalized workout created specifically 
            to meet the client’s fitness goals.
        </p>
        <p style="font-size:1.5em;line-height:30px;"> 
            She incorporates 3 specialties into these workouts: Strength Training, Interval Training, and 
            Flexibility/Mobility Training.
        </p>
        <p style="font-size:1.5em;line-height:30px;"> 
            <b>Strength Training</b> has multiple benefits and impacts everything from posture to how you 
            pick up a bag of groceries:   
            <ul style="font-size:1.35em;line-height:30px;padding-left:30px;">
                <li>Increase lean muscle mass</li>
                <li>Boost metabolism</li>
                <li>Burn more calories as muscles strengthen - even at rest!</li>
                <li>Tighten core, back, and booty</li>
                <li>Look toned and sculpted</li>
            </ul>
        </p> 
    </div>
</div>
<div class="row">
    <div class="large-6 columns" style="padding-left:95px;padding-right:25px;">
        <p style="font-size:1.5em;line-height:30px;"> 
            <b>Interval Training</b> ratchets up your heart rate so you can:   
            <ul style="font-size:1.35em;line-height:30px;padding-left:30px;">
                <li>Burn fat</li>
                <li>Build your endurance</li>
                <li>Burn more calories in less time</li>
                <li>Increase aerobic capacity</li>
            </ul>
        </p> 
        <p style="font-size:1.5em;line-height:30px;"> 
            <b>Flexibility/Mobility Training</b> will help you:   
            <ul style="font-size:1.35em;line-height:30px;padding-left:30px;">
                <li>Move, stretch, and reach without pain</li>
                <li>Attain full range of motion</li>
                <li>Move more fluidly</li>
                <li>Workout more efficiently</li>
                <li>Improve posture</li>
            </ul>
        </p> 
    </div>
    <div class="large-6 columns" style="margin:0;padding:0;">
        <div class="image thumbnail">
            <%= link_to image_tag('aboutlanafinal.jpg', style: 'position:relative;width:100%;'), home_index_path %>
            <!--<h1 style="position: absolute; top:200px; left:15%; width:85%; ">welcome to lana rizika fitness</h1>-->
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns" style="padding-left:8%;padding-right:8%;padding-bottom:5%;">
        <p style="font-size:1.5em;line-height:30px;">
            Lana is passionate about helping clients feel the benefits of physical fitness, which 
            permeate all areas of life. This takes time and commitment, and Lana is here to coach 
            you all the way.  You have the power to create the best version of you!
        </p>
        <p  style="font-size:1.5em;line-height:30px;">
            Lana is based in Manhattan Beach, CA, and trains out of her home gym, at the local park, 
            and at the beach.  
        </p>
    </div>
</div>




<!--testimonials -->
<a id="testimonials"></a>
<div class="row" style="margin-bottom:10px;max-width:none;height:initial;padding-bottom:6%;">
  <div class="large-12 columns">
        <h2 class="text-center" style="font-size:3.5em;margin-top:2%;">testimonials</h2>
    <% @testimonials.each_with_index do |testimonial, index| %>
      <% if index%2==0 %>
        <div class="row">
          <div class="large-6 columns">
            <blockquote style="color:black;font-size:1.5em;"><%= testimonial.quote %>
            <cite class="text-right" style="color:black;font-size:1em;"><%= testimonial.name %></cite></blockquote>
            <% if user_signed_in? %>
            <ul class="button-group round" style="margin-top:10px;float:right;">
              <li><%= link_to 'Show', testimonial, :class => 'tiny secondary button' %></li>
              <li><%= link_to 'Edit', edit_testimonial_path(testimonial), :class => 'tiny secondary button' %></li>
              <li><%= link_to 'Destroy', testimonial, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'tiny secondary button' %></li>
            </ul>
            <% end %>
          </div>
      <% else %>
        <div class="large-6 columns">
          <blockquote style="color:black;font-size:1.5em;"><%= testimonial.quote %>
          <cite class="text-right" style="color:black;font-size:1em;"><%= testimonial.name %></cite></blockquote>
          <% if user_signed_in? %>
            <ul class="button-group round" style="margin-top:10px;float:right;">
              <li><%= link_to 'Show', testimonial, :class => 'tiny secondary button' %></li>
              <li><%= link_to 'Edit', edit_testimonial_path(testimonial), :class => 'tiny secondary button' %></li>
              <li><%= link_to 'Destroy', testimonial, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'tiny secondary button' %></li>
            </ul>
          <% end %>
        </div>
        </div>
      <% end %>
    <% end %>
    <% if @testimonials.length % 2 == 1 %>
      </div>
    <% end %>
  </div>
</div>


<!--
<div class="row" style="max-width:none;height:initial;padding-bottom:6%;background-color:#3F3F3F;">
    <div class="large-12 columns">
        <h2 class="text-center">testimonials</h2>
        <!% if Testimonial.count > 0 %>
            <blockquote style="font-size:16px;"><!%= Testimonial.order('created_at DESC').first.quote %>
            <cite class="text-right" style="font-size:15px;"><!%= Testimonial.order('created_at DESC').first.name %></cite></blockquote>
        <!% end %>
    </div>
</div>
-->

<!-- post -->
<div class="row">
    <div class="large-12 columns" style="padding-bottom:30px;padding-left:100px;">
        <% if Article.count > 0 %>
            <h2 class="text-center"><%= @articles.first.title %></h2>
            <p style="font-size:1.75em;"><%= raw(@articles.first.content) %></p>
        <% end %>
    </div>
</div>

<!--contact me-->
<a id="contact_me"></a>
<div class="row" style="max-width:none;height:initial;">
    <div class="large-12 columns">
        <h2 class="text-center" style="margin-bottom:15px;font-size:3.5em;margin-top:2%;">contact</h2>
        <h3 class="text-center" style="font-size:1.75em;margin-bottom:20px;">I'd love to hear from you!</h3>
    </div>
</div>
<div class="row" style="max-width:none;height:initial;padding-bottom:15px;">
    <div class="large-12 columns">
        <p class="text-center" style="font-size:22px;">310-408-4479</p>
 		<p class="text-center" style="font-size:22px;">lanarizikafitness@gmail.com</n>
		<p class="text-center" style="font-size:22px;">Manhattan Beach, CA</p>
    </div>
</div>

<!--style="" -->

<%= form_tag('/contact', method: 'POST', style: 'max-width:none;height:initial;padding-bottom:15px;') do %>
    <div class="row">
        <div class="medium-6 columns">
            <%= label_tag(:name, 'name:') do %>
                <%= text_field_tag(:name, nil, placeholder: 'name') %>
            <% end %>
        </div>
        <div class="medium-6 columns">
            <%= label_tag(:email, "email:") do %>
                <%= text_field_tag(:email, nil, placeholder: 'email') %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <%= label_tag(:messge, "message:") do %>
                <%= text_field_tag(:message, nil, placeholder: 'questions or comments!') %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns"></div>
        <div class="large-6 large-offset-6 columns">
            <%= submit_tag('submit', class: 'expanded button') %>
        </div>
    </div>
<% end %>
</br>
<div class="row" style="max-width:none;height:initial;padding-bottom:15px;">
    <div class="large-12 columns">
        <p class="text-center" style="font-size:2em;line-height:1.5;">Click 
        <a href="http://goo.gl/forms/YhnFtLTQnM" style="color:#00C0FF;">here</a> for a complimentary 30-minute fitness consultation!</p>
    </div>
</div>

<div class="row" style="max-width:none;height:initial;padding-bottom:6%;">
    </br>
    <!--<p class="text-center">~</p>-->
    </br>
    <h4 class="text-right" style="font-style:italic;color:#838383;">created by olivia orrell-jones</h4>
    <% if user_signed_in? %>
        <%= link_to "sign out", destroy_user_session_path, :method => :delete, :style => 'float:right;' %>
    <% else %>
        <%= link_to "sign in", new_user_session_path, :method => :add, :style => 'float:right;color:#3F3F3F;' %>
    <% end %>
</div>
