<p id="notice"><%= notice %></p>

<div class="image">
    <%= link_to image_tag('weights.JPG', style: 'opacity:0.6;position:relative;width:100%;'), home_index_path %>
    <!--<h1 style="position: absolute; top:200px; left:38%; width:100%; ">Testimonials</h1>-->
</div>

<div class="row" style="margin-top:100px;margin-bottom:10px;">
  <div class="large-12 columns">
    <% @testimonials.each_with_index do |testimonial, index| %>
      <% if index%2==0 %>
        <div class="row">
          <div class="large-6 columns">
            <blockquote><%= testimonial.quote %>
            <cite class="text-right"><%= testimonial.name %></cite></blockquote>
            <% if user_signed_in? %>
            <ul class="button-group round" style="margin-top:10px;float:right;">
              <li><%= link_to 'Show', testimonial, :class => 'tiny button secondary' %></li>
              <li><%= link_to 'Edit', edit_testimonial_path(testimonial), :class => 'tiny button secondary' %></li>
              <li><%= link_to 'Destroy', testimonial, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'tiny button secondary' %></li>
            </ul>
            <% end %>
          </div>
      <% else %>
        <div class="large-6 columns">
          <blockquote><%= testimonial.quote %>
          <cite class="text-right"><%= testimonial.name %></cite></blockquote>
          <% if user_signed_in? %>
            <ul class="button-group round" style="margin-top:10px;float:right;">
              <li><%= link_to 'Show', testimonial, :class => 'tiny button secondary' %></li>
              <li><%= link_to 'Edit', edit_testimonial_path(testimonial), :class => 'tiny button secondary' %></li>
              <li><%= link_to 'Destroy', testimonial, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'tiny button secondary' %></li>
            </ul>
          <% end %>
        </div>
        </div>
      <% end %>
    <% end %>
    <% if @testimonials.length % 2 == 1 %>
      </div>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <div class="row">
      <div class="large-12 columns">
          <div style="margin-left:7px;"><%= link_to 'New Testimonial', new_testimonial_path, :class => 'button radius secondary' %></div>
      </div>
  </div>
<% end %>