<!DOCTYPE html>
<html lang="en">
  <title>Lana Rizika Fitness</title>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style>
      body * {
        /*border: 1px solid black;*/
      }
    </style>
  </head>

  <body>
    
    <div>
      <div class = "row">
        <div class = "large-3 columns">
          <%= link_to image_tag('lana_logo_crop.jpg', style: 'padding-top: 8px;'), home_index_path %>
        </div>
        <div class="large-9 columns" style="margin:0;">
          <div class="row" style="padding-bottom:5px;padding-top:5px;">
            <div class="large-10 columns" style="padding:0;">
              <p class="text-right" style="margin-bottom:0;font-size:1.5em;">lanarizikafitness@gmail.com</p>
              <p class="text-right" style="margin-bottom:0;font-size:1.5em;margin-top:10px;">310.408.4479</p>
            </div>
            <div class="large-2 columns" style="padding:0;margin:0;"> 
              <%= link_to image_tag('facebooklogo.png', style: 'position: relative; float:right; width: 30px;'), "https://www.facebook.com/lanarizikafitness/" %>
              <%= link_to image_tag('instagramlogo.png', style: 'position: relative;float:right; margin-right:5px; width: 30px;'), "https://www.instagram.com/lanarizikafitness/" %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns" style="padding-left:0; padding-right:0;">
              <div class="title-bar" data-responsive-toggle="nav-menu" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle></button>
                <div class="title-bar-title">Menu</div>
              </div>

                <div class="top-bar" id="nav-menu">
                  <div class="top-bar-right">
                    <ul class="vertical medium-horizontal menu" data-dropdown-menu>
                      <li><%= link_to 'home', home_index_path, style: 'font-size:1.5em;' %></li>
                      <!--<li><!%= link_to 'Check teachers', home_index_path(%["#services"]) %></li>-->
                      <li><a href="#services" style="font-size:1.5em;">services</a></li>
                      <li><a href="#about" style="font-size:1.5em;">about</a></li>
                      <li><a href="#testimonials" style="font-size:1.5em;">testimonials</a></li> 
                      <li><a href="/articles" style="font-size:1.5em;">blog</a></li> 
                      <li><a href="#contact_me" style="font-size:1.5em;">contact</a></li>
                    </ul>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
       <!-- <a style="float:right;" href="https://www.instagram.com/lanarizikafitness/">image</a>-->
      </div>
      
     <% if notice %><p class="notice"><%= notice %></p><% end %>
     <% if alert %><p class="alert"><%= alert %></p><% end %>

    <%= yield %>

  </body>
</html>
